In here I am going to convert our db parts to JSON.

In [2]:
# All the imports
import numpy as np
import pandas as pd
import json

In [3]:
db_np_part_1 = np.load(file='.//npy_parts//merged_dataset1.npy', allow_pickle=True)

In [4]:
type(db_np_part_1)

numpy.ndarray

In [5]:
dataframe_1 = pd.DataFrame(db_np_part_1)
dataframe_1

                                                       0
0      {'word': 'drysuit', 'phonetics': [], 'meanings...
1      {'word': 'dry up', 'phonetics': [], 'meanings'...
2      {'word': 'dry wash', 'phonetics': [], 'meaning...
3      {'word': 'dso', 'phonetics': [], 'meanings': [...
4      {'word': 'dst', 'phonetics': [], 'meanings': [...
...                                                  ...
18534  {'word': 'kukri', 'phonetic': '/ˈkʊkɹi/', 'pho...
18535  {'word': 'kula', 'phonetics': [], 'meanings': ...
18536  {'word': 'kula', 'phonetics': [], 'meanings': ...
18537  {'word': 'kulak', 'phonetic': '/ˈkuːlak/', 'ph...
18538  {'word': 'kulan', 'phonetics': [], 'meanings':...

[18539 rows x 1 columns]

In [6]:
dataframe_1.iloc[0, 0]

{'word': 'drysuit',
 'phonetics': [],
 'meanings': [{'partOfSpeech': 'noun',
   'definitions': [{'definition': 'An inflatable suit to provide thermal insulation to the wearer and keep them dry while immersed in water.',
     'synonyms': [],
     'antonyms': []}],
   'synonyms': [],
   'antonyms': []}],
 'license': {'name': 'CC BY-SA 3.0',
  'url': 'https://creativecommons.org/licenses/by-sa/3.0'},
 'sourceUrls': ['https://en.wiktionary.org/wiki/drysuit']}

In [7]:
raw_list = dataframe_1.iloc[:, 0].tolist()

In [8]:
with open('dictionary_part_1.json', 'w', encoding='utf-8') as f:
    json.dump(raw_list, f, ensure_ascii=False, indent=4)

print("Finished saving the database in JSON format")

Finished saving the database in JSON format